
body{
font-family:Arial, sans-serif;
background:#f5f7fa;
margin:0;
}

nav{
background:#002b5b;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:0 15px;
text-decoration:none;
font-weight:bold;
}

.container{
max-width:900px;
margin:auto;
padding:40px;
background:white;
min-height:80vh;
}

footer{
background:#002b5b;
color:white;
text-align:center;
padding:15px;
}
